@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono:ital@1&display=swap');

$page-bg-green: #9baa99;
$nav-bg-green: #828d80;
$opaquewhite: rgba(0, 0, 0, .05);
$red: #f00;
$black: #000;
$yellow: #ff0;
$soft-yellow: #fff888;

body {
  background-color: $page-bg-green;
}

.red-text {
  color: $red;
}

nav {
  background-color: $nav-bg-green;
}

.yellow-text {
  color: $yellow;
}

.dropdown {
  margin-bottom: auto;
  margin-top: auto;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

.thicc-letters {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.3;
}

Button {
  font-family: 'Roboto Mono', monospace;
}

.divider {
  border-bottom: 3px solid $black;
  // margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: 100%;
}

.featured-text {
  color: $white;
  margin-right: 5%;
  text-align: right;
}

.community-comments-text {
  color: $white;
  margin-left: 5%;
  text-align: left;
  width: auto;
}

.comm-comm {
  margin-bottom: 0;
}

.about {
  margin-bottom: auto;
  margin-top: auto;
}

.about:hover {
  color: $yellow;
}

.bannana {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
}

.bannana > a {
  // border: 2px solid $red;
  width: 40%;
}

.home-card {
  background-color: $opaquewhite;
  border-radius: 12px;
  color: $black;
  margin-top: 30px;
}

.home-image {
  max-width: 100%;
}

.bot-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

a:hover {
  color: $soft-yellow;
}

.uc-card {
  margin-bottom: 2%;
  margin-top: 2%;
}

// ///////////////////////////// ARTICLE
.article-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  text-align: center;
}

.article-image {
  margin-top: 15px;
  width: 60%;
}

.art-text {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-bottom: 45px;
  margin-top: 10px;
  text-align: left;
  width: 80%;
}

.a-button {
  background-color: $page-bg-green;
  border: 0;
  color: $page-bg-green;
}

.a-button > a {
  color: $page-bg-green;
}

.head-text {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 20px;
  text-align: left;
  width: 80%;
}

// ////////////////////////////MEDIA QUERIES

@media (max-width: 770px) {
  .bannana > a {
    width: 100%;
  }

  .article-image {
    width: 90%;
  }
}
